.container{
    width:100%;
    position: absolute;
    bottom: 0px;
    padding: 16px 20px;
    z-index: 100;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.controles{
    background-color:rgba(0, 0, 0, 0.3) ;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px black;
}
.controleButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: 300ms;
}
.controleButton:hover{
    background-color: rgba(0, 0, 0, 0.53);
}
.controleButtonRed{
    color: red;
    background-color: rgba(255, 0, 0, 0.4) !important;
    border: 0.5px solid red;
    box-shadow: 0px 0px 4px ;
}

.icons{
    font-size: 24px;
}

.netStatus{
    background-color:rgba(0, 0, 0, 0.3) ;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px black;
    font-size: 16px;
    text-transform: uppercase;
}
.netStatus p{
    color: white;
}


.bars{
    display: flex;
    align-items: end;
    gap: 1.5px;
}

.bar{
    border-radius: 10px;
    width: 4px; 
    background-color: white;
    transition: 400ms;
}
.bar4{
    height: 20px;
}
.bar3{
    height: 15px;
}
.bar2{
    height: 10px;
}
.bar1{
    height: 5px;
}

.green{
background-color: green;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}